<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Dear <%=@recipient.name%>!</h1>
    <p>Your gift is on its way!</p>
    <h2>Will be delivered to the address: <%=@recipient.address%></h2>
  </body>
</html>